.top {
    width: 100%;
    position: absolute;
    height: 150px;
    background-color: #2f9bf4;
}

.profile__photo {
    margin-top: 90px;
    z-index: 999;
    overflow: hidden;
    align-self: center;
    justify-self: center;
    height: 115px;
    border-radius: 50%;
    text-align: center;
    width: 115px;
    background: linear-gradient(180deg, hsla(var(--hue), var(--sat), var(--lig), 1) 0%, hsla(var(--hue), var(--sat), var(--lig), .2) 100%);
    border: 6px solid white;

}

.profile__photo > img {
    margin-top: 0px;
    height: 100%;
    width: 100%;  
    gap: 1rem;  
}

.profile__name {
    margin: 20px 0;
    text-align: center;
}

.profile__name > h3 {
    color: gray;
}

.profile__icons {
    display: flex;
    justify-self: center;
    gap: .9rem;
}

.profile__icons > a > i:hover {
    color: blue;
}