/* components/CellPhone.module.css */

.phone {
  width: 120px;
  height: 240px;
  background: #000;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border-width: 1;
  border-color: "#444";
}

.screen {
  width: 100%;
  height: 87%;
  background: #fff;
  border-width: 4px;
  border-color: #000;
  padding: 16px 4px 4px 4px;
  border-radius: 20px 20px 0 0;
}

.button {
  width: 20px;
  height: 20px;
  background: #444;
  border-radius: 50%;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.speaker {
  width: 54px;
  height: 6px;
  background: #444;
  position: absolute;
  top: 10px;
  border-radius: 25px;
  left: 50%;
  transform: translateX(-50%);
}
