.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsCenter {
    width: 100%;
    justify-content: center;
}

.textAlignCenter {
    text-align: center;
    width: max-content;
}

.textAlignLeft {
    text-align: left;
    width: max-content;
}


@media screen and (min-width: 768px) {
    .reverseW {
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row-reverse;
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .reverseW {
        text-align: center;
        gap: 16;
        flex-direction: column;
    }
    .textAlignLeft {
        text-align: center;
    }
}

.alignCenter {
    align-items: center;
}