.header__navbar {
  display: grid;
  padding: .500rem;
  align-self: center;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
}

.header__logo {
  width: 120px;  
  grid-column: 1;
  align-self: center;
  text-align: center;
}

.header__menu {
  grid-column: 2;
  gap: 4rem;
  list-style: none;
  align-self: center;
  justify-self: flex-end;
  display: flex;
  margin-right: 4rem;
}

.header__menu > li > a:hover {
  color: #2f9bf4;
  border-bottom: .1rem solid #2f9bf4;
}

.header__button {
  grid-column: 3;
  justify-self: flex-end;
  align-self: center;
}