.projects__and__skills__box_width {
    display: flex;
    justify-content: center;    
    flex-direction: column;
    padding: 40px 0;
}

.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__and__skills__box {
    background-color: #e2e2e2;
    border-radius: 10px;
    padding: .5rem .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 420px;
}

.projects__and__skills__box > div {
    width: 140px;
    display: flex;
    justify-content: center;
}

.projects__and__skills__box div a {
    display: grid;
}

.projects__and__skills__box div a span {
    text-align: center;
    padding: .7rem 3rem;
}

.projects__button > a > span {
    background-color: #fff;
    text-align: center;
    min-width: 150px;
    border-radius: 10px;
}

.skills__button > a > span {
    /* background-color: #fff;     */
    text-align: center;
    min-width: 150px;
    border-radius: 10px;
}

.skills_list div, .projects_list div {
    /* border: 1px solid red; */
    padding: .5rem;
    min-width: 280px;
}

.skills_list div h3, .projects_list div h3 {
    /* border: 1px solid blue; */
    padding: .5rem;
    text-align: center;
}


.projects__and_skills__list {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}