@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --hue: 207;
  --sat: 90%;
  --lig: 61%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
}

@media screen and (min-width: 991px) {
  .container {
    margin-left: 0 5rem;
    margin-right: 0 5rem;
    display: grid;
    gap: .500rem;
  }
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 0 2rem;
    margin-right: 0 2rem;
    display: grid;
    gap: .400rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-left: 0 .600rem;
    margin-right: 0 .600rem;
    display: grid;
    gap: .300rem;
  }
}


h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

.button {
  background-color: transparent;
  border: 0.5px solid #2f9bf4;
  color: #2f9bf4;
  max-width: 120px;
  text-align: center;
  padding: .2rem 2rem;
  border-radius: 25px;
}

.button:hover {
  background-color: #2f9bf4;
  color: #fff;
  transition: 3ms;
  cursor: pointer;;
}